body{
	font-family: 'Roboto', sans-serif;
	font-size: 20px
}

#full{
	background-color: #FEFEFE
	margin-color: rgb(235, 217, 174);
	margin: 20px 100px;		
}

#head{
	background-color: yellow;
	border: 1rem solid yellow;
	border-radius: 10px;
	margin: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 20px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
	text-align: center;

}

#un{

	background-color: blue;
	border: 1rem solid blue;
	border-radius: 10px;
	margin: 30px 20px;
	padding: 20px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

#deux{
	background-color: red;
	border: 1rem solid red;
	border-radius: 10px;
	margin: 30px 20px;
	padding: 20px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

#trois{
	background-color: green;
	border: 1rem solid green;
	border-radius: 10px;
	font-size: 40px;
	margin: 30px 20px;
	padding: 20px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

#foot{
	font-size: 30px;
	text-align: center;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.07);
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

h1{
	font-size: 60px;
	text-align: center;
}

h2{
	font-size: 40px;
	text-align: center;
}

a{
	color: black;
	text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}

img{
	border-radius: 50%;
	height: 200px;
	widows: 200px;
}

button{
	background-color: darkgrey;
	height: 50px;
	width: 100px;
	border-radius: 10px;

}
.list-inline {
  display: inline; 
  padding-right: 20px;
  text-align: center;
 }

